Repository Blockstream/satellite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ubuntu, test-fedora, docker-upload

.gitlab-ci.yml:

.test-dependencies:
  stage: test
  script:
    - python3 -m unittest blocksatcli/verify_deps_instal.py

test:
  script:
    - python3 -m unittest discover

test-ubuntu:
  image: ubuntu:focal
  extends: .test-dependencies
  only:
    changes:
      - blocksatcli/dependencies.py
  before_script:
    - apt update -y && apt install -y make python3 python3-setuptools python3-pip
    - make && make install

test-fedora:
  image: fedora:32
  extends: .test-dependencies
  only:
    changes:
      - blocksatcli/dependencies.py
  before_script:
    - dnf update -y && dnf install -y make python3 python3-setuptools python3-pip
    - make && make install

docker-upload:
  image: docker
  stage: deploy
  only:
    refs:
      - master
    changes:
      - blocksatcli/main.py
  before_script:
    - apk add make python3 py3-setuptools py3-pip
  script:
    - echo $DOCKERHUB_PW | docker login -u $DOCKERHUB_USER --password-stdin
    - make docker-push

Clarify the use of Universal LNBs and flat-panel
  doc/hardware.md
Due: none

Fix "dnf copr list" command not called as root
  blocksatcli/dependencies.py
Due: test-ubuntu, test-fedora

Call "apt update" before an apt deps installation
  blocksatcli/dependencies.py
Due: test-ubuntu, test-fedora

Make deps upgrade an alias to the deps update cmd
  blocksatcli/dependencies.py
  blocksatcli/main.py
  doc/quick-reference.md
Due: test-ubuntu, test-fedora, docker-upload

Print header in deps module's dry run mode
  blocksatcli/dependencies.py
Due: test-ubuntu, test-fedora

Fix installation of bitcoin-satellite/-qt via dnf
  blocksatcli/dependencies.py
Due: test-ubuntu, test-fedora

Check blocksat-cli updates automatically on deps
  blocksatcli/dependencies.py
  blocksatcli/main.py
Due: test-ubuntu, test-fedora, docker-upload

Fix mutual exclusion between RTL index and gain
  blocksatcli/sdr.py
Due: none

Run clear before last blocksat-cli cfg page
  blocksatcli/config.py
Due: none

API data sender: improve error message formatting
  api/examples/api_data_sender.py
Due: none

corrected typo for ppa command
  doc/sdr.md
Due: none

Use Ubuntu:focal as blocksat-host's base image
  Makefile
  docker/README.md
  docker/blocksat-host.docker
Due: none

Document bitcoin-satellite usage on blocksat-host
  docker/README.md
Due: none

Run docker-upload CI job on Dockerfile changes
  .gitlab-ci.yml
Due: none

Mention version required for tbs-drivers command
  doc/quick-reference.md
  doc/tbs.md
Due: none

Add link to bitcoin satellite's wiki page
  doc/bitcoin.md
Due: none

Move API apps into blocksat-cli
  .gitlab-ci.yml
  Makefile
  README.md
  api/README.md
  api/examples/README.md
  api/examples/api_data_reader.py
  api/examples/api_data_sender.py
  api/examples/demo-rx.py
  api/examples/generate_keys.py
  api/examples/requirements.txt
  blocksatcli/api/__init__.py
  blocksatcli/api/api.py
  blocksatcli/api/bidding.py
  blocksatcli/api/demorx.py
  blocksatcli/api/gpg.py
  blocksatcli/api/msg.py
  blocksatcli/api/net.py
  blocksatcli/api/order.py
  blocksatcli/api/pkt.py
  blocksatcli/api/test_gpg.py
  blocksatcli/api/test_msg.py
  blocksatcli/api/test_net.py
  blocksatcli/api/test_order.py
  blocksatcli/api/test_pkt.py
  blocksatcli/main.py
  doc/README.md
  doc/api.md
  doc/img/api_architecture.png
  doc/quick-reference.md
  setup.py
Due: docker-upload

Import blocksat's pubkey during the API gpg config
  blocksatcli/api/api.py
Due: none

Update default logging format
  blocksatcli/main.py
Due: docker-upload

Support execution of command for received API msgs
  blocksatcli/api/api.py
  blocksatcli/api/msg.py
Due: none

Clean old/timed-out messages on API listener
  blocksatcli/api/api.py
  blocksatcli/api/pkt.py
  blocksatcli/api/test_pkt.py
Due: none

Print QR code for Lightning invoices
  blocksatcli/api/api.py
  setup.py
Due: none

Add option to serialize Rx API data to stdout
  blocksatcli/api/api.py
  blocksatcli/api/msg.py
Due: none

Retry bid prompt on API send if data type is wrong
  blocksatcli/api/bidding.py
  blocksatcli/util.py
Due: none

Support for FEC encoding/decoding on API messages
  blocksatcli/api/api.py
  blocksatcli/api/msg.py
  blocksatcli/api/pkt.py
  blocksatcli/api/test_msg.py
  doc/api.md
  setup.py
Due: none

Fix demo-rx breaking if Tx sequence number rolls back
  blocksatcli/api/demorx.py
Due: none

Run CI test job in py3.7 and py3.8 through tox
  .gitlab-ci.yml
  tox.ini
Due: none

Test deps install before building the docker image
  .gitlab-ci.yml
Due: none

Review sdist and wheel builds on Makefile
  Makefile
Due: none

Automate pushing of package to PyPI via CI
  .gitlab-ci.yml
  Makefile
Due: none

Add make rule to push package to Test PyPi
  Makefile
Due: none

Check if the CLI has updates from every command
  blocksatcli/dependencies.py
  blocksatcli/main.py
  blocksatcli/test_update.py
  blocksatcli/update.py
Due: test-ubuntu, test-fedora, docker-upload

Wait for order transmission on api send command
  blocksatcli/api/api.py
  blocksatcli/api/order.py
  blocksatcli/api/test_order.py
  setup.py
Due: none

Fix reading of IQ file on sdr app
  blocksatcli/sdr.py
Due: none

Check and create GPG keyring from api send/listen
  blocksatcli/api/api.py
  blocksatcli/api/gpg.py
Due: none

Fallback to tty color print on api-send's QR code
  blocksatcli/api/api.py
Due: none

Review API order status polling messages
  blocksatcli/api/order.py
Due: none

Add web-triggered CI jobs to test pip installation
  .gitlab-ci.yml
Due: none

Add general-purpose reporter of receiver metrics
  blocksatcli/monitoring.py
  blocksatcli/sdr.py
  blocksatcli/standalone.py
  blocksatcli/usb.py
Due: none

Support monitoring of the S400 through SNMP
  blocksatcli/mib/NOVRA-MIB.mib
  blocksatcli/mib/NOVRA-s400-MIB.mib
  blocksatcli/mib/RFC1155-SMI.txt
  blocksatcli/mib/SNMPv2-CONF.txt
  blocksatcli/mib/SNMPv2-SMI.txt
  blocksatcli/mib/SNMPv2-TC.txt
  blocksatcli/standalone.py
  setup.py
Due: none
